Use a python module containing datasets as a source from the iris data. 
Create a pandas dataframe, df_iris, from this data.

In [6]:
from pydataset import data
import pandas as pd
df_iris = pd.DataFrame(data('iris'))

In [8]:
# print the first 3 rows
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [10]:
# print the number of rows and columns (shape)
df_iris.shape

(150, 5)

In [11]:
# print the column names
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [13]:
# print the data type of each column
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [15]:
# print the summary statistics for each of the numeric variables. 
# Would you recommend rescaling the data based on these statistics?
df_iris.describe()
# might be good idea to scale, especially looking at the difference between Sepal.Length & Petal.Width

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Read Table1_CustDetails the excel module dataset, Excel_Exercises.xlsx, into a dataframe, df_excel

In [16]:
df_excel = pd.read_excel("Excel_Exercises.xlsx", sheet_name = 0)

In [17]:
df_excel.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.6,593.30,No
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.9,542.40,No
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.9,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.0,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.9,267.40,Yes

In [25]:
# assign the first 100 rows to a new dataframe, df_excel_sample
df_excel_sample = df_excel.iloc[ :100]
# good find data.loc[data['id'] > 2000, "first_name"] = "John"

In [26]:
df_excel_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
customer_id          100 non-null object
gender               100 non-null object
is_senior_citizen    100 non-null int64
partner              100 non-null object
dependents           100 non-null object
phone_service        100 non-null int64
internet_service     100 non-null int64
contract_type        100 non-null int64
payment_type         100 non-null object
monthly_charges      100 non-null float64
total_charges        100 non-null float64
churn                100 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 9.5+ KB

In [30]:
# print the number of rows of your original dataframe
# other options: df_excel.shape & 
len(df_excel.index)

7049

In [38]:
# print the first 5 column names
df_excel.columns.values[ :5]

array(['customer_id', 'gender', 'is_senior_citizen', 'partner',
       'dependents'], dtype=object)

In [42]:
# print the column names that have a data type of object
# can exclude only certain types with > exclude = 'something'
df_excel.select_dtypes(include = 'object').columns

Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')

In [43]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 12 columns):
customer_id          7049 non-null object
gender               7049 non-null object
is_senior_citizen    7049 non-null int64
partner              7049 non-null object
dependents           7049 non-null object
phone_service        7049 non-null int64
internet_service     7049 non-null int64
contract_type        7049 non-null int64
payment_type         7049 non-null object
monthly_charges      7049 non-null float64
total_charges        7038 non-null float64
churn                7049 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 660.9+ KB

In [ ]:
# compute the range for each of the numeric variables.