In [58]:
from pprint import pprint
import json

with open('./bayes.json') as f:
    bayes = json.load(f)

pprint(bayes)

{'Floor': 6,
 'Instructors': [{'favoriteLanguages': ['python', 'clojure'], 'name': 'Ryan'},
                 {'favoriteLanguages': ['python', 'R', 'java'],
                  'name': 'Maggie'},
                 {'favoriteLanguages': ['python', 'matlab'], 'name': 'David'},
                 {'favoriteLanguages': ['python', 'bash'], 'name': 'Zach'}],
 'Location': 'Blanco',
 'Students': [{'examGrades': [62, 85, 80], 'name': 'Sally'},
              {'examGrades': [88, 79, 67], 'name': 'Jane'},
              {'examGrades': [94, 74, 95], 'name': 'Suzie'},
              {'examGrades': [98, 96, 88], 'name': 'Billy'},
              {'examGrades': [77, 92, 98], 'name': 'Ada'},
              {'examGrades': [79, 76, 93], 'name': 'John'},
              {'examGrades': [82, 64, 81], 'name': 'Thomas'},
              {'examGrades': [93, 63, 90], 'name': 'Marie'},
              {'examGrades': [92, 62, 87], 'name': 'Albert'},
              {'examGrades': [69, 80, 94], 'name': 'Richard'},
              {'examGrades': [92, 99, 93], 'name': 'Isaac'},
              {'examGrades': [92, 62, 72], 'name': 'Alan'}],
 'isActive': True}

In [ ]:
# Print out a message that gives the location of the class using the location and the floor properties.

In [7]:
print(bayes['Floor'])
print(bayes['Location'])

6
Blanco

In [62]:
# If the class is active, print a message that says so.
if bayes['isActive']:
    print('Cohort Active!')

Cohort Active!

In [63]:
# Print out the number of students and number of instructors.
n_instructor = len(bayes['Instructors'])
print(n_instructor)

4

In [ ]:
# Print out the name of the instructor that has the most favorite languages.

In [31]:
for k in bayes['Instructors'][0]['favoriteLanguages']:
    print(k)

python
clojure

In [65]:
for k in bayes['Instructors']:
    fav_lan = ([(l) for l in (k['favoriteLanguages'])])
    print (fav_lan)

['python', 'clojure']
['python', 'R', 'java']
['python', 'matlab']
['python', 'bash']

In [69]:
instructors = bayes['Instructors']
for instructor in instructors:
    print(instructor)

{'name': 'Ryan', 'favoriteLanguages': ['python', 'clojure']}
{'name': 'Maggie', 'favoriteLanguages': ['python', 'R', 'java']}
{'name': 'David', 'favoriteLanguages': ['python', 'matlab']}
{'name': 'Zach', 'favoriteLanguages': ['python', 'bash']}

In [70]:
#Import pandas and create a dataframe from the student data. What do you notice?
import pandas as pd
df = pd.DataFrame(bayes['Students'])
grades = df.examGrades.apply(pd.Series)
df.join(grades)

      examGrades     name   0   1   2
0   [62, 85, 80]    Sally  62  85  80
1   [88, 79, 67]     Jane  88  79  67
2   [94, 74, 95]    Suzie  94  74  95
3   [98, 96, 88]    Billy  98  96  88
4   [77, 92, 98]      Ada  77  92  98
5   [79, 76, 93]     John  79  76  93
6   [82, 64, 81]   Thomas  82  64  81
7   [93, 63, 90]    Marie  93  63  90
8   [92, 62, 87]   Albert  92  62  87
9   [69, 80, 94]  Richard  69  80  94
10  [92, 99, 93]    Isaac  92  99  93
11  [92, 62, 72]     Alan  92  62  72

In [34]:
bayes

{'Floor': 6,
 'Instructors': [{'name': 'Ryan', 'favoriteLanguages': ['python', 'clojure']},
  {'name': 'Maggie', 'favoriteLanguages': ['python', 'R', 'java']},
  {'name': 'David', 'favoriteLanguages': ['python', 'matlab']},
  {'name': 'Zach', 'favoriteLanguages': ['python', 'bash']}],
 'Location': 'Blanco',
 'Students': [{'name': 'Sally', 'examGrades': [62, 85, 80]},
  {'name': 'Jane', 'examGrades': [88, 79, 67]},
  {'name': 'Suzie', 'examGrades': [94, 74, 95]},
  {'name': 'Billy', 'examGrades': [98, 96, 88]},
  {'name': 'Ada', 'examGrades': [77, 92, 98]},
  {'name': 'John', 'examGrades': [79, 76, 93]},
  {'name': 'Thomas', 'examGrades': [82, 64, 81]},
  {'name': 'Marie', 'examGrades': [93, 63, 90]},
  {'name': 'Albert', 'examGrades': [92, 62, 87]},
  {'name': 'Richard', 'examGrades': [69, 80, 94]},
  {'name': 'Isaac', 'examGrades': [92, 99, 93]},
  {'name': 'Alan', 'examGrades': [92, 62, 72]}],
 'isActive': True}